# Tambahkan Gemini API Key Anda jika menjalankan aplikasi ini di luar AI Studio (seperti di Vercel atau localhost)
# Dapatkan API Key secara gratis di: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=
